*{
    padding:0;
    margin:0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(Assets/images/comp.jpg);
    background-size: cover;
    background-position: center;

}
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 45px;
padding-left: 8px;
padding-right: 8px;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:#f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 25px;
    padding:10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}
nav ul li a:hover{
    color:red;
    transition: 4s;

}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition:transform .4s;

}
.btn:hover{
    transform: scale(1.1);
}
.content{
    position: absolute;
    top: 50%;
    left:8%
    
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 60px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #f9004d;
    letter-spacing: 5px;
    font-size: 20px;
}
.newslatter form{
width: 380px;
max-width: 100%;
position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;

}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border:none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color:black ;

}
.about img{
    height: auto;
    width:100% ;
    

}
.about text{
    width: 550px;
  

}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2{
    color:white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;



}
.about-text p{
    color:#f9004d;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}
.title h2{
    color: white;
    width:1130px ;
    font-size: 75px;
    text-align: center;
    margin: 30px auto;



}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #f9004d;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
 .pra p{
    color: #fcfc;
    font-size: 16px;
    font-weight: bold;

 }